@media screen and (max-width: 600px) {
    .abdwahed-logo{
        border-radius: 100%;
        position:relative;
        
        overflow:hidden;
        max-height: 18vh; 
    }

    
    
}









